/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic)

html
  body
    background: #fff 
    margin: 0
    height: 100% 
    color: #384452
    font-family: 'Open Sans', Arial, sans-serif
    font-weight: 400

    h1, h2, h3, h4, h5, h6
      font-family: 'Open Sans', Arial,  sans-serif
    p 
      padding: 0 
      margin-bottom: 12px
      font-family: 'Open Sans', Arial,  sans-serif
      font-weight: 400
      font-size: 14px
      line-height: 24px
      color: #384452
      margin-top: 10px

    img
      height: auto
      max-width: 100%

    .wrapper
      .container
        .row
          .col-lg-4.news
            h3
              font: 300 23px/28px "Open Sans", Arial, sans-serif
              color: #000
              letter-spacing: -0.15px
            span.label.label-info
              background-color: #57aacd
          .col-lg-4.about
            h3
              font: 300 23px/28px "Open Sans", Arial, sans-serif
              color: #000
              letter-spacing: -0.15px
            .image
              overflow: hidden
              img
                -webkit-transition: all 1s ease
                -moz-transition: all 1s ease
                -o-transition: all 1s ease
                -ms-transition: all 1s ease
                transition: all 1s ease
            .image:hover img
              -webkit-transform: scale(1.5)
              -moz-transform: scale(1.5)
              -o-transform: scale(1.5)
              transform: scale(1.5)
          .col-lg-4.contacts
            h3
              font: 300 23px/28px "Open Sans", Arial, sans-serif
              color: #000
              letter-spacing: -0.15px
            p.tel, p, a
              color: #fff
            a
              font-weight: 700
            p.tel
              margin: 0
              font-size: 18px
              font-family: 'Open Sans', Arial, sans-serif
            .block
              font-family: 'Open Sans', Arial, sans-serif
              padding: 30px 30px 25px
              background: #57aacd
              i
                padding-right: 5px
              h2
                text-align: center
                font-family: 'Open Sans', Arial, sans-serif
                color: #fff
                font-size: 34px
                line-height: 38px
              h3
                color: #fff
              hr
                margin-top: 0px


    header
      .navbar
        min-height: 70px
        padding-top: 10px
        margin-bottom: 0px

      .navbar-brand
        font-family: 'Open Sans', Arial,  sans-serif
        font-weight: 900

      .navbar-header .navbar-brand 
        color: white
      .navbar-header .navbar-brand:hover
        color: #57aacd

      .navbar-default .navbar-nav > li > a
        font-family: 'Open Sans',sans-serif
        font-size: 18px
        font-weight: 600
        color: #fff
        text-decoration: none

      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus,
        color: #57aacd

      .navbar-default .navbar-nav > .active > a, 
      .navbar-default .navbar-nav > .active > a:hover, 
      .navbar-default .navbar-nav > .active > a:focus
        color: #57aacd
        background-color: transparent

      .navbar-default
        border-bottom: 5px #57aacd solid
        background-color: #434547

      .dropdown-menu 
        background: #434547

      .dropdown-menu > li > a
        font-family: 'Open Sans',sans-serif
        font-size: 18px
        font-weight: 600
        color: #fff
        text-decoration: none


 

    .hover
      margin-top: 75px
      h3, h5
        color: white
        font-weight: 400
      h1 
        color: white
        margin-bottom: 25px

    .content
      .container
        .row
          .col-lg-8
            .picture
            h3
              color: #00b3fe
              font-weight: 700
              margin-bottom: 15px
            .date
              p
                font-size: 12px
                color: #b3b3b3
            .body
          .col-lg-4.contacts
            h3
              font: 300 23px/28px "Open Sans", Arial, sans-serif
              color: #000
              letter-spacing: -0.15px
            p.tel, p, a
              color: #fff
            a
              font-weight: 700
            p.tel
              margin: 0
              font-size: 18px
              font-family: 'Open Sans', Arial, sans-serif
            .block
              font-family: 'Open Sans', Arial, sans-serif
              padding: 30px 30px 25px
              background: #57aacd
              i
                padding-right: 5px
              h2
                text-align: center
                font-family: 'Open Sans', Arial, sans-serif
                color: #fff
                font-size: 34px
                line-height: 38px
              h3
                color: #fff
              hr
                margin-top: 0px

    .wrapp-blue
      background: #00b3fe
      margin-top: 70px
      margin-bottom: 60px
      padding-top: 25px
      padding-bottom: 25px
      .container
        .row
          .col-lg-12
            h3
              color: white
              margin-left: 15px

    .services
      .container
        .row
          .col-lg-12
            margin: 26px 0 35px 0
            h2
              text-align: center
              font: 300 23px/28px "Open Sans",Arial,sans-serif
              color: #000
              letter-spacing: -.15px
        .row
          .col-lg-3
            .icons
              vertical-align: baseline
              text-align: center
              line-height: 70px
              i
                width: 100px
                height: 100px
                line-height: 100px
                font-size: 52px
                text-align: center
                color: #fff
                background: #62bfe6

    footer
      margin-top: 100px
      padding: 10px 0px 10px 0px
      background-color: #434547
      border-top: 5px #57aacd solid
      .container
        .row
          .col-lg-12
            p
              text-align: center
              color: #fff
